li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

p {
  flex: 1;
  font-size: 1rem;
}

button {
  background-color: transparent;
}

input[type="checkbox"] {
  display: none;
}

label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkmark {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 999px;
  position: relative;
  margin-right: 8px;
  transition: background-color 0.3s ease;

  &:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}

input:checked + .checkmark {
  background-color: #fbbf24;

  &:after {
    opacity: 1;
  }
}
