<li>
  <label>
    <input
      type="checkbox"
      name="checkbox"
      [checked]="todo.completed"
      (change)="onCheckboxChange($event)"
    />
    <span class="checkmark"></span>
  </label>
  <p
    #editableParagraph
    [contentEditable]="editable"
    [style]="{
      textDecoration: todo.completed ? 'line-through' : 'none',
      color: todo.completed ? '#999' : '#000'
    }"
  >
    {{ todo.title }}
  </p>
  <button (click)="onUpdate()">
    {{ editable ? "Done" : "Edit" }}
  </button>
</li>
